### print returns "non" datatype always.
### void is not available in python
### tuple  is returned by default if mulptle return there.

In [9]:
#print("modules or functions")

def fun1():
    pass
def fun2():
    print("first example")
fun2()
fun1()

first example

In [10]:
val = fun2()

first example

In [11]:
val + "kmr"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [13]:
type(fun1())

NoneType

In [14]:
str(fun2())
#print returns null always.

first example

'None'

In [15]:
str(val) #not converting

'None'

In [17]:
# then how to convert?
def test2():
    return "kmr"
val =test2()
val

'kmr'

In [18]:
str(val)

'kmr'

In [20]:
test2() + " rao"

'kmr rao'

In [21]:
#return type is automatic depending upon return value
def test4():
    return 123
type(test4())

int

In [24]:
def test4():
    return 1,2,3, "kmr", [1,2,3]
test4()
#tuple by default if mulptle return there.

(1, 2, 3, 'kmr', [1, 2, 3])

In [26]:
res = test4()
res

(1, 2, 3, 'kmr', [1, 2, 3])

In [27]:
type(res)

tuple

In [29]:
res[3]

'kmr'

### different values collection by retun not tuple

In [31]:
a,b,c,d = 23, 'kmr', [3,4,], 90
a

23

In [35]:
x,y,z,a,b = test4()
y

2

In [38]:
def test5():
    a = 6*7/6
    return a

test5()

7.0

In [39]:
def test6(a):
    return a+5
test6(3)

8

In [52]:
#pass this to function and return only integers 
def test7(a):
    n =[]
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
    return n 

lis = [3,4,5,6,7,7, "kmr", [45,6]]
#type(lis)

test7(lis)

[3, 4, 5, 6, 7, 7]

In [51]:
lis2 = [1,2,3]
test7(lis2)

[]

In [54]:
#pass this to function and return only integers 
def test7(a):
    n =[]
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
            elif type(i) == list:
                for i in list:
                    if type(i) == int:
                        i.append(n)
    return n 

lis = [3,4,5,6,7,7, "kmr", [45,6]]
#type(lis)

test7(lis)

TypeError: 'type' object is not iterable

In [59]:
def test10(d):
    if type(d) == dict:
        return d.keys
    else:
        print("please pass dict only")

In [60]:
test10("hhk")

please pass dict only

In [62]:
#check
test10({"a": 2, "b":4})

In [64]:
def f11(a,b):
    if type(a) ==list and type(b) ==list:
        return a.extend(b)
    else:
        print("give both as list")

In [65]:
f11([1,2],[7,9])

In [66]:
f11([2,3])

TypeError: f11() missing 1 required positional argument: 'b'

In [67]:
f11([3,4], "2")

give both as list

In [68]:
a =[3,5]
b = [6.7]
f11(a,b)

In [69]:
a

[3, 5, 6.7]

In [70]:
def f11(a,b):
    if type(a) ==list and type(b) ==list:
        a.extend(b)
    return a
    else:
        print("give both as list")

SyntaxError: invalid syntax (<ipython-input-70-78d0d0ebaf8f>, line 5)

In [77]:
#take number of rows and columns and print as traingle of dots
def f12(r,c):
    for i in range(r):
        for j in range(c):
            print("*")
            
f12(2,2)

*
*
*
*

In [83]:
def f13(n):
    """this is code"""
    for i in range(0,n):
        for j in range(0, i+1):
            print("*", end = "")
        print("\r")

In [80]:
f13(3)

*
**
***

In [84]:
help(f13)

Help on function f13 in module __main__:

f13(n)
    this is code

In [85]:
#1. fun to take string  and return len 
def fun14(s):
    """this is to take string and find length"""
    l = 0
    for i in s:
        l+=1
    return l
fun14("kmr a")

5

help(fun14("kmr a"))

In [3]:
#2. print index of all primitive elements which you pass
#3. print fun to take disctinary and return list of all values in case of nested also
def fun15(d):
    """#3. print fun to take disctinary and return list of all values in case of nested also"""
    li = []
    for i in d.values():
        li.append(i)
    return li
        
fun15({1:"amr", 2:"sd"})

['amr', 'sd']