In [7]:
#1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the 
#year of your fifth birthday. For example, if you were born in 1980. the list would be 
#years_list = [1980, 1981, 1982, 1983, 1984, 1985].
years_list = []
([years_list.append(i) for i in range(1990, 1995)]   )
years_list

[1990, 1991, 1992, 1993, 1994]

In [8]:
#2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.
print(years_list[3])

1993

In [9]:
#3.In the years list, which year were you the oldest?
print(years_list[-1])

1994

In [12]:
#4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".
things = [i +'ella'  for i in ["mozzar", "cinder", "salmon"]]
things

['mozzarella', 'cinderella', 'salmonella']

In [13]:
#5. Capitalize the element in things that refers to a person and then print the list. 
#Did it change the element in the list?
things[1] = things[1].capitalize()
things

['mozzarella', 'Cinderella', 'salmonella']

In [16]:
#6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."
surprise_list = ['Groucho','Chico','Harpo']
print(surprise_list)

['Groucho', 'Chico', 'Harpo']

In [17]:
#7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.
surprise_list[-1] = surprise_list[-1][::-1].capitalize()
surprise_list

['Groucho', 'Chico', 'Oprah']

In [18]:
#8. Make an English-to-French dictionary called e2f and print it. 
#Here are your starter words: dog is chien,  cat is chat, and walrus is morse.
e2f = {'dog': 'chien',  'cat' : 'chat', 'walrus' : 'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

In [20]:
#9. Write the French word for walrus in your three-word dictionary e2f.
e2f['walrus']

'morse'

In [24]:
for i,j in e2f.items():
    print( i,j)

dog chien
cat chat
walrus morse

In [26]:
#10. Make a French-to-English dictionary called f2e from e2f. Use the items method.
f2e = dict()
for i,j in e2f.items():
    f2e[j] = i
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [27]:
#11. Print the English version of the French word chien using f2e.
f2e['chien']

'dog'

In [29]:
#12. Make and print a set of English words from the keys in e2f.
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

In [35]:
#13. Make a multilevel dictionary called life. Use these strings for
#the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary 
  #  with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with
  #  the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.
life  = {'animals':{'cats': ['Henri', 'Grumpy',  'Lucy'],
                    'octopi':{},  
                    'emus':{}},
        'plants'  : {},
        'others': {}}
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'others': {}}

In [36]:
#14. Print the top-level keys of life.
life.keys()

dict_keys(['animals', 'plants', 'others'])

In [38]:
#15. Print the keys for life['animals'].
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [40]:
#16. Print the values for life['animals']['cats']
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']