In [4]:
#1. Set the variable test1 to the string 'This is a test of the emergency text system'; and save test1 to a
#file named test.txt.
test1 = 'This is a test of the emergency text system'
f = open('test.txt', 'w')
f.write(test1)
f.close()

In [6]:
#2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
with open('test.txt', 'r') as f:
    test2 = f.read()
if(test1 == test2):
    print("same")

same

In [7]:
'''3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992 '''

content = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('boos.csv', 'w') as f:
    f.write(content)
    f.close()

In [1]:
'''4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).'''
import sqlite3
db = sqlite3.connect("books.db")
c = db.cursor()

c.execute('create table books(title text, author text,  year int)')
db.commit()

In [8]:
#5. Read books.csv and insert its data into the book table.
c.execute("INSERT INTO books VALUES('ML', 'kmr', 2000 )")
c.execute("INSERT INTO books VALUES('DL', 'sf', 2010 )")
c.execute("INSERT INTO books VALUES('DS', 'sf', 20007 )")


data = c.execute("select * from books")
for i in data:
    print(i)
    
#db.close()

('ML', 'kmr', 2000)
('DL', 'sf', 2010)
('ML', 'kmr', 2000)
('DL', 'sf', 2010)
('DS', 'sf', 20007)

In [9]:
#6. Select and print the title column from the book table in alphabetical order.
output = c.execute("SELECT title FROM books ORDER BY title ASC")
for ele in output:
    print(ele[0])

DL
DL
DS
ML
ML

In [11]:
#7. From the book table, select and print all columns in the order of publication.
o = c.execute("select * from books order by year")
for i in o:
    print(i)

('ML', 'kmr', 2000)
('ML', 'kmr', 2000)
('DL', 'sf', 2010)
('DL', 'sf', 2010)
('DS', 'sf', 20007)

In [ ]:
#8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

In [ ]:
#9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
#Redis hash called test with the fields count (1) and name 'Fester Bestertester'. Print all the fields for test.
! python -m pip install redis
import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

In [ ]:
#10. Increment the count field of test and print it.
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')